<div class="footer">
    <div class="inner">
        <div class="navigation">
            <a class="home" href="/" routerLink="">
                <img src="/assets/logo.png">
                <h1>AC Diefflen</h1>
            </a>
            <div class="links">
                <div>
                    <h4>Übersicht</h4>
                    <a href="/aktuelles" routerLink="aktuelles">Aktuelles</a>
                    <a href="/training" routerLink="training">Training</a>
                    <a href="/fomulare" routerLink="fomulare">Fomulare</a>
                    <a href="/kontakt" routerLink="kontakt">Kontakt</a>
                </div>
                <div>
                    <h4>Legal</h4>
                    <a href="/impressum" routerLink="impressum">Impressum</a>
                    <a href="/datenschutz" routerLink="datenschutz">Datenschutz</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="info">
            <div>erstellt von Jan und Jonas Fröhlich</div>
            <div class="links">
                <a target="_blank" href="https://ladv.de/">
                    <img id="ladv" src="/assets/images/ladv.png">
                </a>
                <a target="_blank" href="https://www.slb-saarland.com/">
                    <img class="img" src="/assets/images/slb.png">
                </a>
                <a target="_blank" href="https://www.leichtathletik.de/">
                    <img class="img" src="/assets/images/dlv.png">
                </a>
            </div>
        </div>
    </div>
</div>