<div class="navbar">
    <div class="inner">
        <a class="home" href="/" routerLink="">
            <img src="/assets/logo.png">
            <h1>AC Diefflen</h1>
        </a>
        <div class="links">
            <a href="/aktuelles" routerLink="aktuelles">Aktuelles</a>
            <a href="/training" routerLink="training">Training</a>
            <a href="/fomulare" routerLink="fomulare">Fomulare</a>
            <a class="btn" href="/kontakt" routerLink="kontakt">Kontakt</a>
        </div>
    </div>
</div>
